* {
    padding: 0;
    margin: 0;
    outline: none;
}

:root {
    --light-blue: #9BD0F6;
    --dark-blue: #49A6E9;
    --light-gray: #F1F5F8;
    --green-light: hsl(125, 71%, 66%);
    --green-dark: hsl(125, 67%, 44%);
    --red-dark: hsl(360, 67%, 44%);
    --red-light: hsl(360, 71%, 66%);
}



body {
    
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0;
    
    background-color: var(--light-gray);
    padding-top: 5rem;
}

main {
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 50%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: .4rem;
    box-shadow: lightgray 0 1px 3px;
    transition: all .4s linear;
    
    
}

main:hover {
    box-shadow: lightgray 0 3px 16px;
}

.alert {
    position:absolute;
    top:0rem;
    left: 0;
    margin: 1rem 1rem 2rem 1rem;
    font-size: 1.2rem;
    
    padding: .3rem 0rem .3rem 0rem;
    border-radius: .5rem;
    min-width: 95%;
    max-width: 100%;
    text-align: center;
    letter-spacing: .2rem;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
}

.alert-success {
    color: #155724;
    background: #d4edda;
}

.header h1 {
    margin-top: 3rem;
    letter-spacing: .2rem;
    margin-bottom: 1.5rem;
}

.input-box {
    width: 100%;

}

.input-box form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-box input {
    flex-grow: 4;
    width: 100%;
    border: none;
    background-color: var(--light-gray);
    padding-left: 1rem;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    
    
}

.input-box input:focus {
    border: 1px var(--dark-blue) solid;
}

.input-box button {
    flex-grow: 1;
    padding: .4rem .8rem;
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
    border: none;
    background-color: var(--light-blue);
    cursor: pointer;
    transition: all .3s linear;
    letter-spacing: .2rem;
}

.input-box button:hover {
    background-color: var(--dark-blue);
    color: white;
}
.item-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 30vh;
    display:none;
}
.item-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 10vh;
    position: relative;
    top: 0;
    left: 0;
    min-height: 30vh;
    
    padding-bottom: 1.5rem;
}
.show-item-center{
    display:flex;
}


.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    padding: .4rem 1rem .4rem 1.5rem;
    margin: 1rem 0 .2rem 0;
    border-radius: .4rem;
    transition: all .4s linear;
    font-size: 1.2rem;
    letter-spacing: .2rem;

}

.item:hover {
    background-color: var(--light-gray);
}

.item-title {
    text-transform: capitalize;
    letter-spacing: .2rem;
}

.btn-item button {
    border: none;
    background: none;
    cursor: pointer;
}

.fa-edit {
    color: var(--green-light);
    font-weight: bold;
    transition: all .3s linear;
}
.fa-edit:hover {
    color: var(--green-dark);
}
.fa-trash{
    color: var(--red-light);
    font-weight: bold;
    transition: all .3s linear;
}
.fa-trash:hover {
    color: var(--red-dark);
}
.clear{
    position: absolute;
    bottom: 0rem;
    display:grid;
    place-items: center;
    width: 100%;
}
.clear button{
    border:none;
    background:none;
    color: var(--red-dark);
    font-size:1.3rem;
    letter-spacing: .2rem;
    cursor: pointer;
}